.form-control {
  box-shadow: none;
}

.search-region{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -26px;
}

#block-search-form {
    background-color: transparent;
    border: $border-color;
    border-bottom: none;
    .form-item{
      margin: 7px 0 0;
    }
    #search-block-form {
      position: relative;     
       input.form-text {
        background-color: $white;
        border: none;
        height: 36px;
        font-style: italic;
        width: 36px;
        border: none;
        @include transition(all 0.35s);
        &:focus{
          width: 170px;
          border: 1px solid $border-color;
        }
      }
      &:hover{
        input[name*="search_block_form"]{
          width: 170px;
          border: 1px solid $border-color;
        }
      }
  	  .form-group {
  			margin: 9px 0;
  		}
      .form-submit {
          background: url('#{$base-theme-image-path}/search-icon.png') no-repeat scroll center center transparent;
          height: 19px;
          width: 19px;
          text-indent: -9999px;
          position: absolute;
          right: 5px;
          top: 10px;
          border: none;          
      }
    }
}

#user-login-form {
  ul {
    padding: 0;
	  font-size: 13px;
    text-align: right;
	  list-style: none;
  }
  .item-list li {
    list-style: none;
    margin: 0;
  }
  li.openid-link {
    background: none;
  }
}
#user-login {
  ul {
    margin: 0 0 5px;
    li {
      margin: 0;
    }
  }
  li.openid-link {
    background: none;
  }
}

#search-form{
	.panel {
		border: none;;
		box-shadow: none;
	}
	.panel-default > .panel-heading {
		border-bottom: none;
	}
}

.hide-label label {
  background: none;
  clip: rect(1px);
}
.exposed-filters .form-item {
  margin-bottom: 10px;
  margin-top: 0;
}
#article-admin-filter ul {
  padding: .5em 0;
  li {
    list-style: none;
  }
}
#edit-operation-wrapper select {
  margin: .5em;
}
div.resizable-textarea {
  textarea {
    margin-top: 0;
    border: 1px solid $border-color;
  }
}
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}
#edit-keywords-fieldset .form-item {
  &:first-child {
    margin-top: 5px;
  }
}
#user-admin-filter ul {
  li {
    list-style: none;
  }
}
.field-type-text-long fieldset {
  padding: 10px 0;
  border: $border-color;
  .form-item {
    margin: 0;
    padding: 0 0 0 15px;
  }
}
#comment-form {
	label {
		display: inline-block;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 5px;
	}
}
#contact-site-form{
  .form-checkbox{
    margin-left: 0;
  }
}

.form-actions {
  margin-top: 2em;
}

.form-item {
    margin: 1em 0;
}

// Fieldset
fieldset {
  margin: 1.777em 0 1em !important;;
}

legend {
  text-transform: uppercase;
  font-size: 16px !important;
  margin-bottom: 0.5em !important;
  font-weight: bold;
  border-bottom-color: $text-color !important;
}

/*label {
  font-weight: 400 !important;
}*/

form input {
  width: 100%;
}

//Inline fields
.webform-container-inline input {
  width: auto;
}

button, html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  width: auto;
}

input[type="radio"], 
input[type="checkbox"] {
    width: auto;
}