.view-list{
  ul{
    overflow: hidden;
    li.view-list-item{
      width: 100%;
      padding-bottom: 30px;
      overflow: hidden;
      margin: 0;
      .post-block{
        margin: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}

.view{
  .more-link{
    //text-align: center;
    margin: 40px 0 10px;
    a{
      //@include border-radius(20px);
      text-transform: uppercase;
      color: $brand-primary;
      border: 3px solid $gold;
      padding: 10px 15px;
      font-size: 1em;
      font-weight: bold;
      background-color: $gold;
      &:hover,
      &:focus {
        background-color: $brand-primary;
        color: $gold !important;
        border-color: $brand-primary;
      }
    }
  } 
}

.widget-white, .block-white{
  .view{
    .more-link a{
      color: $white;
      border: 3px solid rgba(255, 255, 255, 0.5);
    }
  }  
}

.views-view-grid{
  .views-row{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.view-list-content{
  .item-list{
      ul > li{
        border: 0!important;
        padding-bottom: 10px;
        .views-field-field-blog-image{
          float: left;
        }
        .views-field-title{
          padding-top: 0;
          a{
            line-height: 1.6;
            display: block;
            margin-bottom: 5px;
          }
        }
        img{ 
          margin-right: 10px;
        }
        .views-field-created{
          margin: 0;
          font-size: $font-size-base - 2;
          font-style: italic;
        }
      }
    }
  .views-row {
      position: relative;
      border-top: 1px solid $border-color;
      padding: 10px 0;
      overflow: hidden;
      .views-field-title a{
        color: #8d8d8d;
        font-size: $font-size-base - 2;
        font-weight: 700;
        &:hover{
          color: $theme-color;
        }
      }
      .views-field-created{
        font-size: $font-size-base - 2;
        color: #c4c4c4;
      }
      .views-field-term-node-tid {

      }
      .views-field-body {

      }
      &:first-child {
        border-top: none;
      }
    }
}

.portfolio-filter{
  margin: 0 0 30px;
  text-align: center;
  > ul{
    display: inline-block;
    li.open{
      a, a:hover, a:focus, a:active{
        border-color: $nocolor!important;
      }  
    }
  }
}

.view-portfolio{
  width: 100%;
  overflow: hidden;
  position: relative;
  .portfolio-v2{
    &.isotope-item{
      @include transition(none);
      overflow: hidden; 
      margin-bottom: 30px;
      .view-item-body{
        background: #fff;
       // @include transition(all 0.35s);
      }
      &:hover{
        .view-item-body{
          background: #262626;
          border-color: #262626;
          .field-content{
            color: #fff;
            a{
              color: #fff;
            }
          }
        }
      }
      a:hover{
        color: $theme-color;
      }
    }
    .view-item-body{
      display: block;
      text-align: center;
      border: 1px solid #EBEBEB;      
      border-bottom: 5px solid #F7F7F7;
      border-top: none;
      padding:10px ;
      min-height: 120px;
      .views-field-title{
        padding-top: 5px;
        a{
          font-size: $font-size-base + 2;
          font-weight: 700;
          text-transform: uppercase;
          &:hover{
            color: #000;
          }
        }
      } 
      .views-field-body .field-content{
        font-size: $font-size-base;
        padding: 5px 0;
        font-weight: 300;
      }
    }
    
    .image{
      position: relative;
      .field-content{
        text-align: center;
        img{
          display: inherit;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  
  .portfolio-v1{
    position: relative;
    @include transition(none);
    .grid-inner{
      position: relative;
      &:after{
        content: "";
        background: $theme-color-rgba;
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
        z-index: 9;
        @include opacity(0);
        @include transition(all 0.35s);
      }
    }
    .view-item-body{
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 0;
      width: 100%;
      z-index: 999;
      @include opacity(0);
      @include transition(all 0.35s);
      text-align: center;
      .views-field-title a{
        font-size: 18px;
        font-weight: 700;
        color: $white;
        &:hover{
          color: $black;
        }
      }
      .views-field-tags a{
        font-size: 14px;
        color: $white;
        font-weight: 400;
        border: 2px solid $white;
        padding: 5px;
        display: inline-block;
        margin-top: 10px;
      }
      a:hover{
        color: $black;
      }
    }
    &:hover{
      .grid-inner:after{
        @include opacity(1);
      }
      .view-item-body{
        @include opacity(1);
        margin-top: -40px;
      }
    }
  }  
}

.main-slideshow{
  .caption{
    text-align: center;
    top: 30%;
    .title{
      font-weight: 800;
      font-size: 46px;
      text-transform: uppercase;
      color: $white;
    }
    .body{
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 700;
    }
  }
}

/*----------------------------------------------------------*/ 
.view-gallery{
  .carousel-item{
    float: left;
    margin-right: 3px!important;
  }

  .gallery-large{
    img{
      width: 100%;
      height: auto;
    }
  }
  .gallery-small{
    width: 49%!important;
    background: transparent!important;
    float: left;
    .gallery-small-item{
      background: transparent;
      width: 100%!important;
      height: auto!important;
      float: left;
      clear: both;
      margin: 1px 0px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .item{
    position:relative;
    overflow: hidden;
    .xcolor{
      width: 100%;
      text-align: center;
      i{
        background-color: #fff;
        color: $theme-color;
        width: 30px;
        height: 30px;
        @include border-radius(50%);
        padding: 7px;
        &:hover{
          background-color: #000;
          color: $theme-color-rgba;
        }
      }
    }
    .description {
      position: absolute;
      @include opacity(0);
      -webkit-animation-duration: 0.6s;
      animation-duration: 0.6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      text-align: center;
      padding-top: 15%;
      .date-post{
        color: #fff;
        font-weight: 700;
        font-size: $font-size-base;
        text-align: center;
        span{
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
      .body a{
        display: block;
        text-align: center;
        color: #fff;
        font-weight: 400;
        font-size: $font-size-base;
        padding: 10px 0;
      }
    } 
    &:hover{
      &:before{
        background: $theme-color-rgba;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
      }
      .description {
        @include opacity(1);
        -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; 
        } 
    }
  }
  .gallery-small{
    .item .views-field-nothing {
      padding: 5% 10%;
    }
  }

  &.page{
    .row{
      .item{
        margin-top: 15px;
        margin-bottom: 15px;
        .views-field-field-gallery-image{
          text-align: center;
        }
        img{
          max-width: 100%;
          height: auto;
        }
        .views-field-nothing{
          padding-top: 5%;
        }
      }
    }
  }
}

.view-team-block{
  .team-item{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.view-home-blog{
  .row{
    margin-left: -5px!important;
    margin-right: -5px!important;
    margin-bottom: 0!important;
    >.grid {
      padding: 5px!important;
    }
  }
}

/******** View testimonial **************/
.view-testimonial{
  .testimonial-item{
    text-align: center;
    padding: 0 15px;
    .views-field-field-testimonial-image img{
      @include border-radius(50%);
      margin-bottom: 15px;
    }
    .views-field-field-testimonial-name{
      font-weight: 700;
      color: $black;
      text-transform: uppercase;
      margin-top: 10px;
    }
    .views-field-field-testimonial-job{
      margin-bottom: 15px;
    }
    .views-field-body{
      font-size: 15px;
      font-style: italic;
      padding: 0 15px;
    }
    &.testimonial-v2{
      .views-field-body{
        padding: 0 20%;
        @media(max-width: $screen-sm-max){
          padding: 0 10px;
        }
      }
    }
  }
}