<ol>
	<li>Providing transportation reimbursement for identified committee members to attend the 2012 NDE Transition Summit.</li>
	<li>Hosting a Transition/College Information Planning Night (“Chart Your Course for College Success”) for parents, students, and professionals that will include presentations from WIN-AHEAD; Education Quest; recent high school graduates who are accessing disability services in higher education; brief remarks by individuals involved in students’ transition (such as: Rick Love, ESU #10 Transition Specialist; Robin Hines, Vocational Rehabilitation Counselor), and various informational booths/representatives from NE colleges/universities and businesses.</li>
	<li>Maintaining and updating the webpage.</li>
	<li>Participating in and assisting with the 2013 Dawson County ABLE Program Annual Career Fair/College Expo to be held at the Dawson County Fair Grounds in Lexington, NE.  High school students from Dawson County will be introduced to a variety of careers and post-secondary options via various hands-on activities, interviewing, and information gathering events.  Over 200 students participated in the 2012 event.</li>
</ol>