<p class="lead">Courses of Study outlines the exact academic requirements the student needs to complete in order to accomplish his or her postsecondary goals.</p>

<div class="well">
	<h2>Essential Elements</h2>
	<ul>
		<li>The Courses of Study is a multi-year description of coursework from the student’s current to anticipated exit year that is designed to help achieve the student’s desired post-school goal(s).</li>
		<li>The Courses of Study must align with the postsecondary goals.</li>
		<li>Courses of Study must be reviewed annually to ensure courses were passed, the student did not drop a course, or to note if the student was not given access to a course.</li>
		<li>Review the Courses of Study to ensure it: 
			<ul>
				<li>Reflects an educational program and plan that specifies all courses and educational experiences from the first IEP to be in effect when the student turns 14, or younger if determined appropriate by the IEP team.</li>
				<li>Reflects a plan that will help the student achieve his or her desired measurable postsecondary goals and make a successful transition to post-school adult life.</li>
				<li>Reflects multiple years of specific classes and educational experiences, not just one year.</li>
			</ul>
		</li>
		<li>List specific courses by title for each year. Include core courses required for graduation as well as electives, internships, and any other credit-bearing opportunities that directly support the student’s postsecondary goals.</li>
	</ul>
</div>
<p><small>Adapted from O’Leary, (2010) Reviewer Reference Form for the Transition Requirements Checklist</small></p>
