<p>During the 2014-2015 school year, ESU 16 would like to begin planning for the development of an 18-21 year old Life Skills program that can meet the needs of all our district’s students with disabilities that need an 18-21 year old program. As more information and understanding of the Life Skills program emerges, the intent of this grant is to improve services by providing evidence-based practices for children ages 18-21 and their families in a pre-vocational environment that focuses on activities that will enrich the lives of these individuals through independent living skills, appropriate community social skills and employment skills to help them become viable members of their community. This may be in a center-based program or may be more innovated to look at a mobile classroom that can travel to meet the students where they are.</p>
<p>This grant would help to fund monthly meetings of the transition committee during the next school year to discuss services and programming for the Life Skills program. They will work to develop the program and become aware of the curriculum and materials available to provide for the most evidence-based practices. In our meetings we will look at procedure guidelines, application &amp; registration forms, community sites, goals and curriculum materials. We will review other program descriptions and visit programs that are currently successful. A light meal and stipends would be provided to the committee members. We currently have a Transition committee, TACY (Transition Advisory Council for Youth) that meets on a monthly basis. We would ask members of this group along with teachers, parents and counselors to be a part of our evening meetings to develop the Life Skills program. The outcomes of these meetings would include: a name for the program, brochure, procedural guidelines for the programs, and determining curriculum for the independent skills, social skills and employment opportunities.
</p>
<p>Three programs will be purchased for review and use for curriculum development: 
	<ul>
		<li>Coach 3: Choosing Outcomes and Accommodations</li>
		<li>Circles: Level 2 – Intimacy and Relationships</li>
		<li>ABBLS-R and AFLS</li>
	</ul>
</p>