<p>This project seeks to create the Western Nebraska Entrepreneurial Project for Transition Students. The project will provide training and activities in entrepreneurship and self-employment strategies both to students and persons included in the individual students’ support circles. This might include those serving on IEP teams, including parents/guardians, adult agency personnel, educators, and other interested parties.</p>
<p>As of 2013, self-employment and business ownership are positive outcomes for youth with disabilities, recognized in newly revised VR agency policies, throughout the DD system, and through advocacy and policy from the U. S. Department of Labor. Yet, only 2% of all persons served by VR are engaged in achieving self-employment, compared to a self-employment rate of the non-disabled growing at 20% annually according to the Small Business Administration.</p>
<p>Two young males from the Scottsbluff-Gering Area and graduates of the Life Link Transition Program at WNCC are now businessmen in the community, with one young man owning two separate businesses. Examples abound of self-advocates from the Front Range of Colorado who own and operate their own business. This project will partner with those who have been successful for information and motivation. In rural areas, where services are scarce, self-employment teamed with internet marketing, are viable options for some students and their families.</p>
<p>The project will partner with University of Nebraska Extension Educators to provide a 6 week course to transition students on entrepreneurship. In addition, four separate trainings will be held throughout the year with the students and their support circles on the topics of: Person-Centered Planning, Discovering the Passion, Business Feasibility and Developing the Business Plan, Marketing and Sales Strategies, the advantages of self-employment with SSI, utilizing SSI work incentives programs to fund the start-up costs and other Financial Options/Considerations.</p>
<p>The outcome of the project is providing the foundational information and basic knowledge for self-employment as an option to an integrated lifestyle within the community. All materials and training sessions will be recorded and made available to others throughout the state through internet access.</p>
<p>
	<ol>
		<li>A 6 week entrepreneurial course will be provided to transition students in the region. ESU#13 Transition Specialist will team with the University of Nebraska Extension Educators to deliver these trainings. Although delivered in person to small groups of students, a Moodle course interface will also be available for access of students outside the presentation group. The course will consist of 3 units of study:
			<ol type="a">
				<li>Unit # 1 – Discover the E-Scene–designed for youth to learn what it means to be an entrepreneur</li>
				<li>Unit # 2 – The Case of Me–designed to develop basic skills needed to succeed in the professional and business world</li>
				<li>Unit # 3 – Your Business Inspection–designed for youth to actually learn what is required to start a business; concept development, resourcing and start-up. A Shark Tank activity will be implemented in this Unit.</li>
			</ol>
		</li>
		<li>Four Additional trainings will be available to the students and their support circle. To be part of the project, participants must agree to attend all 4 training sessions. Participants will receive training materials. The trainings and partnerships will be as follows:
			<ol type="a">
				<li>Overview of Self-Employment–Person Centered Planning–Finding the Passion in You–Partner with Montana Rural Institute–Ellen Condon–Kim Brown</li>
				<li>Business Feasibility and Development of a Marketing Plan–Partner with Small Business Administration and S.C.O.R.E</li>
				<li>Marketing and Sales Strategies–Partner with Next Young Professionals Group of Twin Cities–DECA Chapter at Scottsbluff High School</li>
				<li>Financial Strategies–Local Banker and Social Security Administration Officials</li>
				<li>Local Resources for Small Business Development–Partner with WNCC Microenterprise Project Director–Judy Amoo</li>
				<li>Examples of Self-Advocates currently Self-Employed–How We Did It–Self-Advocates from Scottsbluff and Colorado along with their parents</li>
			</ol>
		Local Agencies who can be part of the process–Nebraska VR and Workforce Development. The trainings will include face to face presentations, as well as live webinars from program experts.
		</li>
	</ol>
</p>