<p><strong>Project:</strong> Keys to Unlocking Your Future is the theme for 2014-2015 Transition Activities conducted by ESU 11, ESU 9 and CNSSP (Central Nebraska Support Service Program). The events planned will help teachers and students unlock their individual doors, look closely, and implement activities to enhance the transition process.</p>
<dl class="dl-horizontal">
	<dt>Goal 1</dt>
	<dd>
	  	<p>High School Special Education Teachers and Transition Specialists will be provided professional development trainings to facilitate the transition process.</p>
	  	<p><strong>Objective:</strong> Participants will have opportunities to attend professional development trainings to expand their offerings within their transition programs.</p>
	  	<p>One day training entitled Social Thinking and Transition Planning for the Adult World and Real Life will be provided.</p>
  	</dd>
  	<dt>Goal 2</dt>
	<dd>
	  	<p>High School Special Education Students will be provided workshops to enhance their input when developing a strong transition IEP.</p>
	  	<p><strong>Objective:</strong> Participants will have a better understanding of the purpose/meaning of their IEP.</p>
	  	<p>Ninth grade transition students will have the opportunity to unlock their future by participating in a workshop that will allow them to create and share a vision video that encompasses their future goals. Participants will also have the opportunity to gain an understanding of the components of the IEP and to become an active member of the IEP team.</p>
  	</dd>
</dl>