<div class="meeting-training-description">
	<h3>In-Person Trainings</h3>
	<p class="icon-calendar-line-dark">
		<strong>3rd Wednesday</strong> Service Only Workflow<br>
		<strong>1st Wednesday</strong> Entry/Exit Workflow
	</p>
	<p class="icon-clock-line-dark">9am-3pm CST</p>
	<p class="icon-location-filled-dark adr">
		<strong class="fn">Salvation Army</strong><br>
		<span class="street-address">2625 Potter Street</span><br>
		<span class="locality">Lincoln</span>, 
		<abbr class="region" title="Nebraska">NE</abbr> 
		<span class="postal-code">68503</span>
	</p>
	<hr>
	<p>Users must register the <strong>Friday</strong> before the training they want to attend. Training will be limited to a maximum of 5 persons per training to assure attention is given to each user.</p>
</div>
   

<p class="contact-person"><strong>Rita Hammit</strong><br>
	<small>State Transition Coordinator</small>
</p>
<p class="icon-location-filled-bright">
	<span class="building-name">Nebraska Department of Education</span><br>
	<span class="street-address">6949 So. 110th St.</span><br>
	<span class="locality">Omaha</span>, 
	<abbr class="region" title="Nebraska">NE</abbr>
	<span class="postal-code">68128</span><br>
</p>

<p class="icon-phone-bright">
	<a href="tel:402-595-2092" class="tel">402-595-2092</a><br>
	<a href="tel:402-595-2727" class="tel">402-595-2727 (FAX)</a>
</p>


<!-- Order guides  block -->
<div class="order-guides">
	<h2>Order Guides</h2>
	<a class="btn btn-primary" href="#" role="button">Order Transition Planning Guides</a>
</div>


<!-- Copyright block -->

<div class="footer-bottom">

	<!-- This section gets pushed to the left side-->
	<div class="footer-bottom-section">
		 <p>Copyright © NDE Transition. All rights reserved  | <a href="/user">Admin Login</a></p>
	</div>

	<!-- This section gets pushed to the right side-->
	<div class="footer-bottom-section">
		<div class="icon-ndelogo"><span class="element-invisible">NDE logo</span></div>
	</div> 
</div>  

<div class="after-footer__inner-wrapper">	
<!-- This section gets pushed to the left side-->
	<div class="after-footer-section after-footer-section__left ">
		 <a href="/" class="icon-logo-gray"><span class="element-invisible">NDE Transition</span></a>
	</div>

	<!-- This section gets pushed to the right side-->
	<div class="after-footer-section after-footer-section__right">
		<ul>
<li><a href="/contact">Contact us</a></li>
<li><a href="/order-nebraska-transition-guides">Order Transition Planning Guides</a></li>
<li><a href="https://www.education.ne.gov/documents/Web_homepage_disclaimer.pdf" target="_blank">Disclaimer</a></li>
<li><a href="http://www.nebraska.gov/" target="_blank">Official Nebraska Government Website</a></li>
</ul>
	</div>
</div>





