<div class="iep-step-list-wrapper">
	<div class="iep-step">
		<div class="iep-step__header">
			<h2>Transition Assessment</h2>
		</div>
		<div class="iep-step__body">
			<div class="iep-step__body__description">
				<h3>Description</h3>
				<ul>
					<li>A process of collecting data from informal or formal assessments of students strengths, needs, preferences and interests over time from multiple sources such as students, teachers, employers, and other agencies who have been working with the student regarding
						<ol type="a">
							<li>academic skills,</li>
							<li>career interests and aptitudes,</li>
							<li>self-determination skills and opportunities, and</li>
							<li>independent living skills.</li>
						</ol>
					</li>
					<li>These data can be collected in a portfolio format and may assist in the development of the student's post-secondary goals.</li>
				</ul>
			</div>
			<div class="iep-step__body__resource">
				<h3>Resources</h3>
				<ul>
					<li><a href="https://tagg.ou.edu/tagg/" target="_blank">Transition Assessment and Goal Generator (TAGG)</a></li>
					<li><a href="https://transitionta.org/system/files/toolkitassessment/AgeAppropriateTransitionAssessmentToolkit2016_COMPLETE_11_21_16.pdf" target="_blank">NTACT Age-Appropriate Transition Assessment Guide</a></li>
					<li><a href="/transition-assessment-websites" target="_blank">Transition Assessment Websites</a></li>
					<li><a href="/sites/default/files/Age_of_Majority_2017.pdf" target="_blank">Age of Majority</a></li>
					<li><a href="http://vr.nebraska.gov/videos/" target="_blank">Pathway to Employment Video Series</a></li>
					<li><a href="/sites/default/files/Nebraska_ACT_Accommodations_Crosswalk.pdf" target="_blank">ACT Accommodations Crosswalk</a></li>
					<li><a href="/sites/default/files/ACT_Accommodations_Documentation_Sample.pdf" target="_blank">ACT Accommodations Sample</a></li>
					<li><a href="/sites/default/files/Pred_Outcomes_Matrix.pdf" target="_blank">Predictors of Post Outcomes Success</a></li>
					<li><a href="/sites/default/files/consent.pdf" target="_blank">Consent To Invite a Participating Agency</a></li>
					<li><a href="/sites/default/files/reevaluation.pdf" target="_blank">Reevaluation Issues For Transition Students</a></li>
					<li><a href="/sites/default/files/WIOA%20%26%20Students%20Memo.pdf" target="_blank">WIOA &amp; Student Memo</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iep-step">
		<div class="iep-step__header">
			<h2>Postsecondary Goals</h2>
		</div>
		<div class="iep-step__body">
			<div class="iep-step__body__description">
				<h3>Description</h3>
				<p>Measurable post-secondary goals based on the student's interest, transition assessment information (formal and informal), and the input from other agencies.</p>
				<p>These post-secondary goals must include a goal for </p>
				<ul>
					<li>Training / Education</li>
					<li>Employment</li>
					<li>Independent living</li>
				</ul>
			</div>
			<div class="iep-step__body__resource">
				<h3>Resources</h3>
				<ul>
					<li><a href="https://transitionta.org/evidencepractices" target="_blank">NTACT Evidence-Based Secondary Transition Practices</a></li>
					<li><a href="https://transitionta.org/transitionplanning#indicator13" target="_blank">NTACT Examples and Non-Examples for SPP/APR Indicator 13</a></li>
					<li><a href="/sites/default/files/file-attachments/post-school-postcard-letterpaper-online_101817_0.pdf" target="_blank">Post School Outcomes Flyer and Postcard</a></li>
					<li><a href="/sites/default/files/discussion_goals.pdf" target="_blank">Discussion Points: Measurable Post secondary Goals</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iep-step">
		<div class="iep-step__header">
			<h2>Transition Services</h2>
		</div>
		<div class="iep-step__body">
			<div class="iep-step__body__description">
				<h3>Description</h3>
				<ul>
					<li>A coordinated set of activities (including courses of study) , designed within a results-oriented process, that will prepare the student for their post-secondary goals</li>
					<li>These activities must be well planned and the responsibility for completing the activities must be shared between the school, parent, agency representatives (with prior written parent consent), and student.</li>
					<li>The activities should be focused on improving the academic and functional achievement of the child with a disability to facilitate the child’s movement from school to post-school activities</li>
					<li>The activities is based upon the individual child’s needs, taking into account the child’s strengths, preferences, and interests</li>
					<li>These activities includes instruction, related services, community experiences, the development of employment and other post-school adult living objectives, and, when appropriate, acquisition of daily living skills and a functional vocational evaluation.</li>
					<li>Transition services for children with disabilities may be special education, if provided as specially designed instruction, or related services, if required to assist a child with a disability to benefit from special education.</li>
					<li>Identify annual instructional goals (IEP Goals) that will assist in the student in achieving their the post-secondary goals.</li>
					<li>Involve additional agencies (such as VR, Job Corps, League of Human Dignity, etc.), with the consent of the parents, that is likely to be responsible for and/or paying for transition services.</li>
					<li>Students are central to the decisions made regarding needed services of activities, including course completion or career development activities in school or out of school that will facilitate achievement of their postsecondary goals.</li>
				</ul>
			</div>
			<div class="iep-step__body__resource">
				<h3>Resources</h3>
				<ul>

					<li><a href="node/196" target="_blank">Course of Study</a></li>
					<li><a href="/sites/default/files/Coordinated-Set-of-Needed-Activities.pdf" target="_blank">Coordinated Activities</a></li>
					<li><a href="http://transitionta.org/transitionplanning#indicator13" target="_blank">NTACT Examples and Non-Examples for SPP/APR Indicator 13</a></li>
					<li><a href="/sites/default/files/drivers-guide-4-15.pdf" target="_blank">Driver’s Evaluation and Training for Students with Disabilities</a></li>
					<li><a href="/sites/default/files/Drivers_Guide-1.pdf" target="_blank">Driver’s Guide</a></li>
					<li><a href="/sites/default/files/job_coach_manual.pdf" target="_blank">School-based Job Coach Training Manual</a></li>
					<li><a href="/sites/default/files/paraprofessional-trng-manual.pdf" target="_blank">Paraeducator 101: A Workshop for Paraeducators Who Work with Students with Developmental Disabilities</a></li>
					<li><a href="/sites/default/files/DD-PUB-7-PRINTFinal%20alpha.pdf" target="_blank">Available Services for Teens &amp; Young Adults with Developmental Disabilities</a></li>
					<li><a href="/sites/default/files/Transition-Activities-Suggestions.pdf" target="_blank">Transition Activities Suggestions</a></li>
					<li><a href="/sites/default/files/transitions-to-college-for-students-with-disabilities.pdf" target="_blank">Transition to college - What are the differences?</a></li>
					<li><a href="/sites/default/files/work-base-rubric.pdf" target="_blank">Work site assessment rubric</a></li>
					<li><a href="http://vr.nebraska.gov/videos/" target="_blank">Pathway to Employment Video Series</a></li>
					<li><a href="/sites/default/files/Comparison_of_Disability_in_High_School_and_College_faculty_training-2.pdf" target="_blank">Comparison of Disability in High School and College Disability Services for Students</a></li>
					<li><a href="/sites/default/files/Pred_Outcomes_Matrix.pdf" target="_blank">Predictors of Post Outcomes Success</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="iep-step">
		<div class="iep-step__header">
			<h2>Graduation and Summary of Performance</h2>
		</div>
		<div class="iep-step__body">
			<div class="iep-step__body__description">
				<h3>Description</h3>
				<ul>
					<li>The Summary of Performance (SOP) is required under the reauthorization of the Individuals with Disabilities Education Act of 2004. The Summary of Performance is required for students with disabilities who:
						<ul>
							<li>Graduate from high school with a regular diploma</li>
							<li>Exit high school due to reaching the maximum age (21)</li>
						</ul>
					</li>
					<li>The SOP can provide information on the exiting status of the student in many areas, including:
						<ul>
							<li>Academics - reading, writing, and math in relation to the Common Core State Standards</li>
							<li>Functional skills - study skills, independent living, self-determination, etc.</li>
							<li>The impact of the student's disability on academics and functional skills</li>
							<li>The use and impact of assistive technology and other accommodations</li>
							<li>Recommendations of what technology and supports should be used by the student in postsecondary environments</li>
						</ul>
					</li>
					<li>The information about the student’s current level of functioning in the SOP is intended to help postsecondary institutions and adult service agencies consider accommodations for access. These recommendations should not imply that any individual who qualified for special education in high school will automatically qualify for services in postsecondary education or the adult services system.</li>
					<li>The SOP is most useful when linked with the IEP process and the student has the opportunity to actively participate in the IEP development.</li>
					<li>The SOP can assist students and teachers in compiling the necessary documentation of disability that the student will require to access services under the Americans with Disabilities Act (ADA)</li>
				</ul>
			</div>
			<div class="iep-step__body__resource">
				<h3>Resources</h3>
				<ul>
					<li><a href="/summary-performance-qa" target="_blank">Summary of Performance Q &amp; A</a></li>
					<li><a href="/sites/default/files/AB_SOP_Final_0.pdf" target="_blank">NTACT Example Summary of Performance</a></li>
					<li><a href="https://transitionta.org/sites/default/files/SOP%20Document%20NCDPI_final_11-14-13.pdf" target="_blank">NDE Example of SOPs</a></li>
					<li><a href="https://www.transitionta.org/sites/default/files/SUMMARY%20OF%20PERFORMANCE%20Packet.pdf" target="_blank">NTACT Summary of Performance Packet Example</a></li>
					<li><a href="/sites/default/files/Transition-Topics-2014-.pdf#page=24" target="_blank">Transition topics: To graduate or not to graduate</a></li>
					<li><a href="https://www.ahead.org/students-parents" target="_blank">WINAHEAD Moving Ahead – Transition Resources for Everyone</a></li>
					<li><a href="/sites/default/files/grad-readiness-7-11.pdf" target="_blank">Graduation Considerations for Students with Disabilities</a></li>
					<li><a href="/sites/default/files/file-attachments/post-school-postcard-letterpaper-online_101817_0.pdf" target="_blank">Post School Outcomes Flyer and Postcard</a></li>
					<li><a href="/sites/default/files/DHHS_DDD_Letter_to_school_psychologists_01-2015.pdf" target="_blank">Letter to School Psychologists from DHHS</a></li>
					<li><a href="/sites/default/files/Drivers_Guide-1.pdf" target="_blank">Driver’s Guide</a></li>
					<li><a href="/sites/default/files/Comparison_of_Disability_in_High_School_and_College_faculty_training-2.pdf" target="_blank">Comparison of Disability in High School and College Disability Services for Students</a></li>
					<li><a href="/sites/default/files/graduation_considerations.pdf" target="_blank">Graduation Considerations</a></li>
					<li><a href="/sites/default/files/disussion_sop.pdf" target="_blank">Discussion Points Summary of Performance</a></li>
					<li><a href="/sites/default/files/commission.pdf" target="_blank">Commission For the Blind and Visually Impaired</a></li>
					<li><a href="/sites/default/files/postsecondary.pdf" target="_blank">Postsecondary Education</a></li>
					<li><a href="/sites/default/files/discussion-post-secondary.pdf" target="_blank">Postsecondary Education</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>