<div class="grant-intro-app-container">
	<div class="grant-intro">
		<p class="lead">The Nebraska Department of Education Office of Special Education awards funds annually for Innovative Transition grants. These grant funds are intended to support innovative transition efforts throughout Nebraska.</p>
	</div>
	<div class="grant-app">
		<div class="grant-app_title">Innovative Grant Application</div>
		<a class="btn btn-primary" href="/sites/default/files/InnovativeProjects_Tran_Tm_Grant_Guidelines1314.pdf" target="_blank">Download Grant Application</a>
	</div>
</div>