<section class="qa-wrapper">
	<div class="qa-question">
		<h2>What is Transition Planning and why is it Important?</h2>
	</div>
	<div class="qa-answer">
		<p>Transitioning into the adult world can be a challenge for all young people, even more so for students with disabilities. Transition planning is a process that is designed to provide these students with the necessary skills and services to smoothly transition into adult life. Transition plans are built into the student’s Individualized Education Plan (IEP).</p>
	</div>
</section>

<section class="qa-wrapper">
	<div class="qa-question">
		<h2>When should the transition planning process be initiated?</h2>
	</div>
	<div class="qa-answer">
		<p>The transition planning process should be initiated as an early age, and must  begin not later than the first IEP to be in effect when the student turn 16 years of age.  If the purpose of the IEP meeting is to consider postsecondary goals for the student and the transition services needed, the student must be invited to attend.</p>
		<p><a href="/sites/default/files/Opening_Doors_Guide_final.pdf" target="_blank">Opening Doors: A Transition Guide</a></p>
		<p><a href="/sites/default/files/Age_of_Majority_2017.pdf" target="_blank">Age of Majority</a></p>
	</div>
</section>

<section class="qa-wrapper">
	<div class="qa-question">
		<h2>Does everyone need a transition plan?</h2>
	</div>
	<div class="qa-answer">
		<p>All students with disabilities, ages 16-21, must have transition components in their IEPs. If a parent and student agree, transition plans may be included in the IEP prior to age 16.</p>
	</div>
</section>

<section class="qa-wrapper">
	<div class="qa-question">
		<h2>Who is involved in the transition planning process?</h2>
	</div>
	<div class="qa-answer">
		<p>The IEP team meets to assist the student in creating a transition planning plan. This team consists of the student, family member(s), school personnel, agency representatives (with prior written parent consent) who may be providing services after the student graduates, and others who may be working with the student. The student’s attendance and participation in this transition planning process is the most important.</p>
		<p>The overall goal of this meeting is to determine the student’s strengths, interests, and preferences in order to create an individualized transition plan of:</p>
		<ol>
			<li>what the student want to be after graduation,</li>
			<li>what education/training will needed, and</li>
			<li>where the student wants to live after high school.</li>
		</ol>
		<p>This transition plan will include activities and services of where help is needed, and what experiences are going to be valuable over the high school years.</p>
	</div>
</section>

<section class="qa-wrapper">
	<div class="qa-question">
		<h2>What should be discussed in a Transition Planning meeting?</h2>
	</div>
	<div class="qa-answer">
		<p>There are 3 areas that must be discussed when participating in a transition planning and development of measurable post-secondary goals meeting:</p>
		<ul>
			<li>What is the student’s long term goal in the area of Post-secondary Education or Training?</li>
			<li>What is the student’s long term goal in the area of Employment?</li>
			<li>What is the student’s long term goal in the area of Independent Living/Community Participation (if appropriate)?</li>
		</ul>
		<p>It is important to keep in mind that a student’s goals may change as they get older, experience more opportunities, and begin to personally define specific career directions.</p>
	</div>
</section>

<section class="qa-wrapper">
	<div class="qa-question">
		<h2>What are schools required to do about providing transition services?</h2>
	</div>
	<div class="qa-answer">
		<ol>
			<li>For students in special education, the student’s IEP Team is required to address a student’s need for transition services in the student’s Individualized Education Program (IEP) beginning at age 16. </li>
			<li>The IEP team is responsible to invite the student, his/her parents, and representatives of participating agencies that are likely to be responsible for helping to provide some of the transition services to transition planning meetings. If a student does not attend the meeting, the IEP team must take other steps to make sure the student’s preferences and interests are considered in planning for the transition services. </li>
			<li>Review and revise the student’s need for transition services every year, as appropriate, based on the student’s transition service needs currently identified in their IEP.<br><a href="/sites/default/files/WIOA%20%26%20Students%20Memo.pdf" target="_blank">Referral and Involvement  of Agencies (VR Pre-Employment Transition Services PRE-ETS)</a></li>
		</ol>
	</div>
</section>
