<p>The purpose of this grant is to obtain training and curriculum that is student focused, at the right development level, includes family involvement and will impact their program structure. This training meets evidence-based predictors for successful transition programs: Access to employment training, job skills, curricula related to employment skills and independent living, Parent involvement, Self-Advocacy/Self-determination instruction, Self-care/Independent living and Social Skill training.</p>
<dl>
	<dt>Goal I</dt>
	<dd>Student Focused Planning, Student Development. Transition staff members will develop the skills to provide appropriate services and support for students with dual diagnosis (developmental and mental health disabilities) and their families.</dd>
	<dt>Goal 2</dt>
	<dd>Family Involvement -Parents of students attending Yankee Hill will learn more about the curriculum and be encouraged to attend meetings/trainings as appropriate.</dd>
	<dt>Goal 3</dt>
	<dd>
		Program Structure – LPS Secondary administrators will learn, discuss and have access to the curricula, to be used by other high school transition & VOICE teachers.
		<dl>
			<dt>Activity #1a</dt>
			<dd>Transition staff and their administrator will have an opportunity to participate in a 15 hour on-line course on Cognitive Behavioral Intervention for Trauma on-line learning experience, called CBITS. They will then implement a Train The Trainer model where they will coach, model/plan and deliver instruction directly to the other Yankee Hill school personnel.</dd>
			<dt>Activity 1b</dt>
			<dd>Quarterly, the staff members will lead professional development on completed sessions. All staff will have a training manual to apply learning immediately.</dd>
			<dt>Activity 2</dt>
			<dd>Grant will purchase First Job Survival Skills 3-part DVD Curriculum, all 3 modules are relevant to this population.
				<dl>
					<dt>Module 1</dt>
					<dd>Work Ethic, workplace manners, learning the job, no whining or excuses, stealing = job suicide, getting your foot in the door.</dd>
					<dt>Module 2</dt>
					<dd>Attaining Permanent status Attributes essential to workplace success.</dd>
					<dt>Module 3</dt>
					<dd>Workplace Delusions, My needs don’t come first, Rules apply to everyone, No special privileges, I’m not a VIP, and Work doesn’t have to be fun.</dd>
				</dl>
			</dd>
			<dt>Activity 3</dt>
			<dd>Implement CIRCLES – Level 1 teaches the rules of social boundaries and understanding relationship and Level 2 teaches how intimacy boundaries change with as relationships change.</dd>
		</dl>
	</dd>	
</dl>