<p>Research over the past 25 years has shown that many young adults with disabilities who graduated from high school remain unemployed, socially isolated, or in trouble with the criminal justice system (Mcafee & Mann, 1982, Patton & Dunn, 1998; Wagner, Balckorby, Cameto, Hebbeler, & Newman, 1993).  As a result, many special education advocates pushed for changes in the law to assure better planning for the transition from high school to adult life. The Individuals with Disabilities Education Act (IDEA) (P.L. 10 1-476) and the 1997 Amendments (P.L. 105-17 )mandate secondary schools to create transition plans for each student with a disability to help them successfully move on to post-school activities like college, vocational training, employment, independent living and participation in the community.  The IDEA 1997 Transition Regulations defines transition services as:</p>
<p>
	<ol>
		<li>Is designed within an outcome-oriented process that promotes movement from school to post-school activities including postsecondary education, vocational training, integrated employment (including supported employment), continuing and adult education, adult services, independent living, or community participation;</li>
		<li>Is based on the individual student’s needs, taking into account the student’s preferences and interests; and</li>
		<li>Includes:
			<ol>
				<li>Instruction</li>
				<li>Related Services</li>
				<li>Community experiences</li>
				<li>The development of employment and other post-school adult living objectives</li>
				<li>If appropriate, acquisition of daily living skills and functional vocational evaluation</li>
			</ol>
		</li>
	</ol>
</p>
<p>This project will provide 30 students verified with Autism (Aspergers) from the ESU #2, #3 and #19 areas with social skills training in addition to career exploration training.  The goal of this grant is to provide much needed training and support to students with Autism (Aspergers) in the area of social skills relevant to the work setting.  In addition to the students, parents will also attend awareness training on resources available to support their child.  Partnerships with both Goodwill Industries and Parent Training Information Nebraska to provide these skill based trainings will assist us in connecting children and families with relevant resources and services now and in the future.</p>
<p>Goodwill Industries will provide small group instruction to students on non school days at Goodwill sites located in Fremont and Omaha, Nebraska.  Using the Department of Labor curriculum, Goodwill Industries staff will lead students through two to four hour training sessions on “Skills to Pay the Bills” materials.  Students will also get the opportunity to explore job skills at the sites as well as practice the social and job skills they have been taught.  If time allows, students may also receive additional two to four hour module trainings.</p>
<p>PTI Nebraska will offer the parents of these students “Transition Facts” and “Getting and Keeping Your First Job” training in both Fremont and Omaha, Nebraska.  These trainings will provide requirements on transition planning through the IEP process as well as providing resources and support on transition and career readiness activities in the Omaha and Fremont areas.  They will also help families explore the realities of today’s work world so they can help their children and youth with disabilities understand competitive employment.</p>
<p>Ten students from ESU #2 will be identified to participate and ten students from ESU #19 will also be identified to participate in this project.  ESU #3 will identify ten students from Papillion-LaVista Public Schools for the project.  This will allow each part of the metro region to have equal representation of the total thirty students needed for the project.</p>