<div id="ne-transition-guide">
	<div class="container">
		<div class="flex-container">
			<div class="flex-section col-sm-7">
				<h2>Nebraska Transition Guide</h2>
				<p>This is a guide to enhance supports for transitioning between grade levels, programs, schools, districts, and college and careers for all students by increasing collaboration between students, parents, school staff, and community agencies.</p>
				<p>It was developed by the Nebraska Department of Special Education staff in collaboration with the following partners: Institutes of Higher Education/WinAhead, Nebraska Department of Health and Human Services (DHHS), Nebraska Department of Teaching and Learning, Nebraska VR, PTI-Nebraska, and Transition Specialist</p>
				<div class="ntg-download-button">
					<a class="btn btn-primary" href="/sites/default/files/transition-guide-062216.pdf" target="_blank" role="button">Download Nebraska Transition Guide</a>
					<a href="/sites/default/files/transition-guide-accessible-062216.docx" target="_blank">Download Accessible Version</a>
				</div>
			</div>
			<div class="flex-section col-sm-5">
				<img src="/sites/default/files/transition-guide.png" class="img-responsive" alt="Nebraska Transition Guide">
			</div>
		</div>
	</div>
</div>

<!-- Order block -->
<div id="ne-transition-guide-order" class="bg-blue">
	<div class="container">
		<h2>Interested in ordering printed copies of Nebraska Transition Guides?</h2>
		<div class="ntg-order-button">
			<a class="btn btn-primary" href="/order-nebraska-transition-guides" role="button">Order Nebraska Transition Guide</a>
		</div>
	</div>
</div>