<p>This group of partners will present one career pod as identified by the Nebraska Career Education Model at Central Community College, Columbus campus. This annual event is available to all transition age students and special educators in the regional area. The program/agenda follows this profile:</p>
<p>
	<ul>
		<li>Registration/Continental breakfast</li>
		<li>Welcome by the Dean of Students & Instruction</li>
		<li>A presentation outlining the differences between high school and post-secondary supports (IDEA vs. ADA)</li>
		<li>Overview of the six career pods with emphasis on the cluster identified by the planning committee</li>
		<li>Campus tour</li>
		<li>Lunch in campus cafeteria</li>
		<li>Nebraska Youth Leadership Presentation</li>
		<li>Community tours, if appropriate</li>
		<li>Rotations/presentations by CCC faculty in corresponding classrooms</li>
	</ul>
</p>
<p>Regional planning and collaboration with ESU 1 and ESU 8 would include the introduction of annual school/agency visits. This project would provide an electronic spreadsheet sent to each school district prior to the “team” visit. The team would include a representative from Nebraska VR, ATP, resource teacher(s), guidance counselor, school nurse, school psychologist, DD and the transition specialist. With parental permission, the team would review each school’s list of transition age special education students and determine re-evaluation issues, appropriate outside referrals and general programming concerns.</p>