<div class="grant-intro-app-container">
	<div class="grant-intro">
		<p class="lead">The Nebraska Department of Education Office of Special Education awards funds annually for Transition Team grants. These grant funds are intended to support the development and maintenance of regional transition teams throughout Nebraska.</p>
	</div>
	<div class="grant-app">
		<div class="grant-app_title">Regional Team Grant Application</div>
		<a class="btn btn-primary" href="/sites/default/files/Reg_Trans_Tm_Grant_Guidelines_2013-14.pdf" target="_blank">Download Grant Application</a>
	</div>
</div>

<div id="regional-map">
	<div class="container">
		<h2>Secondary Transition Regional Teams</h2>
		<p>Nebraska has established five Regional Transition Teams to support collaboration between school districts, Educational Service Units (ESUs), communities and agencies within each Transition Region. Regional Transition Teams provide transition activities for youth with disabilities throughout their region and Nebraska.</p>
		<img class="img-responsive" src="/sites/default/files/regional-team-grant-map.png" alt="Map of Nebraska regions for Secondary Transition">
		<table class="table">
			<thead>
				<tr>
					<th>Region</th>
					<th>Serving ESU ...</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Western</td>
					<td>#13, #14, #16, #17</td>
				</tr>
				<tr>
					<td>Central</td>
					<td>#9, #10, #11, #15, #16</td>
				</tr>
				<tr>
					<td>Northeast</td>
					<td>#1, #7, #8</td>
				</tr>
				<tr>
					<td>Metro</td>
					<td>#2, #3, #19</td>
				</tr>
				<tr>
					<td>Southeast</td>
					<td>#4, #5, #6, #18</td>
				</tr>
			</tbody>
		</table>
		<p class="text-center"><small>Source: <a href=" http://www.unl.edu/asdnetwork/asd-network-regions" target="_blank">Nebraska Autism Spectrum Disorders Network</a></small></p>
	</div>	
</div>


