<div id="rule-51" class="row">
	<div class="col-sm-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Parties involved / Component</th>
					<th>What does Rule 51 say?</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Summary of Performance</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=34" target="_blank">NAC51-006.06E1</a></td>
				</tr>
				<tr>
					<td>Student</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=38" target="_blank">NAC51-007.03A10a</a></td>
				</tr>
				<tr>
					<td>Transition Assessment</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=41" target="_blank">NAC51-007.07A9a</a></td>
				</tr>
				<tr>
					<td>Measurable Postsecondary Goals</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=41" target="_blank">NAC51-007.07A9a</a></td>
				</tr>
				<tr>
					<td>Annual Goal</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=41" target="_blank">NAC51-007.07B2</a></td>
				</tr>
				<tr>
					<td>Outside Agency Collaboration</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=38" target="_blank">NAC51-007.03A10b</a></td>
				</tr>
				<tr>
					<td>Transition Services/Activities</td>
					<td>
						<ul>
							<li><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=41" target="_blank">NAC51-007.07A9b</a></li>
							<li><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=43" target="_blank">NAC51-007.07C4a</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Course of Study</td>
					<td><a href="https://www.education.ne.gov/LEGAL/webrulespdf/Clean51_2016.pdf#page=41" target="_blank">NAC51-007.07A9b</a></td>
				</tr>
			</tbody>			
		</table>
	</div>
		<div class="col-sm-6">
		<figure>
			<figcaption>Overall illustration of transition in Nebraska</figcaption>
			<img class="img-responsive" src="/sites/default/files/rules-chart.png" alt="Overall illustration of transition in Nebraska">		
		</figure>
	</div>
</div>