<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h2 class="panel-title">
          For which students is the Summary of Performance required and when should it be provided?
      </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Students who are receiving special education services when leaving high school and who are leaving due to receiving a regular diploma or by reaching the maximum age of eligibility are required to have a Summary of Performance.</p> <p>Although information is gathered throughout the year, the Summary of Performance should ideally be provided to the student just prior to leaving the public education system. </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h2 class="panel-title">
          Do students who receive a GED require a Summary of Performance?
      </h2>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        No, only those students who leave high school with a regular diploma or by reaching maximum age of eligibility require a Summary of Performance. FAPE has not ended and they may return to continue special education or regular education services until 21.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingThree" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h2 class="panel-title">
          Do students who have been staffed out of special education during their senior year prior to graduation or who have dropped out require a Summary of Performance?
      </h2>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        No, if special education services have ended prior to the student leaving the high school setting with a regular diploma or by reaching the maximum age of eligibility, no Summary of Performance is required.  If the special education student drops out, no Summary of Performance is required.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingFour" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h2 class="panel-title">
          Is the Summary of Performance part of the IEP?
      </h2>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" >
      <div class="panel-body">
        No, the Summary of Performance is NOT a part of the IEP; it falls under the section of IDEA 2004 that determines the need for reevaluation prior to exiting special education.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingFive" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      <h2 class="panel-title">
         Can the student’s current IEP be the Summary of Performance?
      </h2>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        No, the Summary of Performance is not regarded as the IEP and is clearly identified as a separate process from the IEP.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingSix" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
      <h2 class="panel-title">
          Who needs to be present when reviewing the Summary of Performance with as student and his/her family?
      </h2>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
       This does not need to be a formal meeting, but documentation that the Summary has been reviewed and provided should be obtained.  This can be done by collecting signatures on the Summary of Performance.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingSeven" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <h2 class="panel-title">
          Are new assessments required to complete the Summary of Performance?
      </h2>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        No, IDEA 2004 clearly indicates that schools have NO obligation to provide assessment solely for the identification or eligibility for other agencies or services not related to K-12 education.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingEight" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
      <h2 class="panel-title">
          If a student has not met all their IEP goals and objectives, does this influence the Summary of Performance?
      </h2>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        No, the Summary of Performance is provided when the student approaches the termination of his/her Free and Appropriate Public Education and therefore is based on the attainment of the diploma or the reaching of maximum age of eligibility (the student’s progress on IEP goals and objectives is not a factor).
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingNine" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
      <h2 class="panel-title">
          What is the process for students who receive a certificate of completion, a modified diploma, or leave high school without documentation and do so prior to reaching the maximum age of eligibility?
      </h2>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        Students who leave high school under the circumstances above must have an eligibility review meeting to establish the change in eligibility.  A student may continue to qualify for special education, but choose to leave the public education system.   It is important to note that for these students, FAPE has not ended and they may return to continue special education or regular education services until age 21.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading collapsed" role="tab" id="headingTen" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
      <h2 class="panel-title">
          Is a Summary of Performance required for students who are expelled?
      </h2>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        No, students who are expelled and have an IEP are still entitled to FAPE and therefore shall not receive a Summary of Performance until they have either received a regular diploma or reached the maximum age of eligibility.
      </div>
    </div>
  </div>
</div>