<p>We will design the information, activities and resources pertinent to students/families that could be shared as early as in the elementary years and continuing through post-high school on the NDE Transition Website.</p>

<table class="table-striped">
	<caption>Projected Budget</caption>
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tfoot>
	    <tr>
	    	<td>Projected Budget</td>
	    	<td>$4,000</td>
	    </tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Data Collection</td>
			<td>$200</td>
		</tr>
		<tr>
			<td>Analysis and Reporting</td>
			<td>$200</td>
		</tr>
		<tr>
			<td>Need Assessment</td>
			<td>$400</td>
		</tr>
		<tr>
			<td>Partnership</td>
			<td>$1,500</td>
		</tr>
		<tr>
			<td>Educational Materials</td>
			<td>$500</td>
		</tr>
		<tr>
			<td>Outreach</td>
			<td>$1,200</td>
		</tr>
	</tbody>
</table>
<p>The Southeast Nebraska area schools collectively represent a variety of stakeholders. The stakeholders have expressed numerous needs related to transitioning students from the public school setting into adulthood.  Staff representatives from the Southeast Nebraska area schools have identified the best practices for a variety of sizes of school districts. These materials would provide information, activities, and resources pertinent to students and families beginning transition and continuing through post-high school and or employment.</p>
<p>This will take the collaboration between the school, the home, and the community in order to be meaningful for students and parents. Stakeholders are in a particularly opportune position to help young adults and families develop the strategies to achieve a more successful transition into higher education and/or employment. Parents, students, educators and community members will be able to access the information, materials, resources, and social connections to help their children move into higher education and/or employment.</p>
<p>The outcome would be to refine the materials and place them on the NDE Transition Website where not only school staff, students and parents within/across the region could access the information but also across the state.  Activities could be replicated as designed or with adaptations.</p>