<section class="row">
	<h2>Education/Training</h2>
	<p>Goals based on academics, functional academics, life centered competencies or career/technical or agricultural training needs and job training.</p>
	<div class="resource-list-wrapper tg-resource-list-wrapper">		    
		<a class="resource-item resource__link tg-resource-item" href="https://www.iidc.indiana.edu/styles/iidc/defiles/instrc/webinars/college-readiness_assessment.pdf" target="_blank">Guide to Assessing College Readiness (free)</a>
		<a class="resource-item resource__link tg-resource-item" href="https://www.onetcenter.org/IP.html?p=3" target="_blank">O*Net Interest Profiler</a>
		<a class="resource-item resource__link tg-resource-item" href="https://careeronestop.org/Videos/default.aspx" target="_blank">Job Videos</a>
		<a class="resource-item resource__link tg-resource-item" href="https://www.iidc.indiana.edu/styles/iidc/defiles/INSTRC/Webinars/Employability_skills_checklist.pdf" target="_blank">Employability/Life Skill Asessment</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.proedinc.com/customer/productview.aspx?id=6063" target="_blank">Transition Planning Inventory (TPI)</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.collegeview.com/collegesearch/index.jsp" target="_blank">College View</a>
		<a class="resource-item resource__link tg-resource-item" href="http://startingwright.cs.wright.edu/Teacher/uacig/HardingUniversityCITELearningStylesInventory.pdf" target="_blank">C.I.T.E. Academic Learning Styles</a>
	</div>
</section>

<section class="row">
	<h2>Development of Employment</h2>
	<p>Goals based on occupational awareness, employment related knowledge and skills and specific career pathway knowledge and skills.</p>
	<div class="resource-list-wrapper tg-resource-list-wrapper">		    
		<a class="resource-item resource__link tg-resource-item" href="https://okcareerguide.kuder.com/landing-page" target="_blank">Oklahoma Career Guide</a>
		<a class="resource-item resource__link tg-resource-item" href="https://www.onetcenter.org/IP.html?p=3" target="_blank">O*Net Interest Profiler</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www4.parinc.com/Products/Product.aspx?ProductID=SDS-R-5" target="_blank">Self-Directed Search</a>
		<a class="resource-item resource__link tg-resource-item" href="https://careertech.org/student-interest-survey" target="_blank">Student Interest Survey for Career Clusters</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.texascareercheck.com/" target="_blank">Texas Career Check</a>
			    
		<a class="resource-item resource__link tg-resource-item" href="http://www.ou.edu/content/education/centers-and-partnerships/zarrow/self-determination-assessment-tools/air-self-determination-assessment.html" target="_blank">AIR Self-Determination Assessment (free)</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.ou.edu/content/education/centers-and-partnerships/zarrow/self-determination-assessment-tools/arc-self-determination-scale.html" target="_blank">ARC Self-Determination Assessment </a>
		<a class="resource-item resource__link tg-resource-item" href="https://www.ou.edu/content/education/centers-and-partnerships/zarrow/self-determination-assessment-tools/choicemaker-self-determination-assessment.html" target="_blank">ChoiceMaker Self-Determination Assessment</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.proedinc.com/customer/productview.aspx?id=6063" target="_blank">Transition Planning Inventory (TPI)</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.proedinc.com/customer/productview.aspx?id=5169" target="_blank">Informal Assessments for Transition Planning</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.estr.net/publications.cfm" target="_blank">Enderle-Severson Online Transition Scale Report Generator</a>
		<a class="resource-item resource__link tg-resource-item" href="http://lifeskills.casey.org/" target="_blank">Casey Life Skills (free)</a>
		<a class="resource-item resource__link tg-resource-item" href="https://www.iidc.indiana.edu/styles/iidc/defiles/INSTRC/Webinars/Employability_skills_checklist.pdf" target="_blank">Employability/Life Skill Asessment</a>
	</div>
</section>

<section class="row">
	<h2>Daily Living Skills</h2>
	<p>Goals based on adaptive behaviors related to personal care and well-being to decrease dependence on others.</p>
	<div class="resource-list-wrapper tg-resource-list-wrapper">		    
		<a class="resource-item resource__link tg-resource-item" href="https://www.ou.edu/content/dam/Education/documents/personal-preference-indicator.pdf" target="_blank">Personal Preference Indicators (free)</a>
		<a class="resource-item resource__link tg-resource-item" href="http://aaidd.org/sis/order#.WBuADS0rLRZ" target="_blank">Supports Intensity Scale</a>
		<a class="resource-item resource__link tg-resource-item" href="http://jist.emcp.com/picture-interest-career-survey.html" target="_blank">Picture Interest Career Survey</a>
		<a class="resource-item resource__link tg-resource-item" href="http://www.proedinc.com/customer/productview.aspx?id=6063" target="_blank">Transition Planning Inventory (TPI)</a>
	</div>
</section>