<p>As a district, we believe that securing additional resources will serve as a catalyst to allow Westside Community Schools (both at the main WHS campus, as well as the Alternative High School) to educate students on their disability and appropriately self-advocate, request accommodations, and have an understanding about post-secondary transition (including work, education, and living), as well as to provide innovative, engaging, self-paced, and student-selected credit recovery options to those students who are credit-deficient and/or at risk of dropping out of high school.</p>
<p>Objectives:
	<ol>
		<li>Adopt and implement Odysseyware, a web-based student-learning tool that provides curriculum and instruction to achieve credit recovery, remediation, dropout prevention, and textbook replacement. A special education case manager, high school administrator, program supervisor, and content-area general education teachers will collaboratively facilitate the Odysseyware coursework. Funds are necessary to purchase the educational materials/software licenses and to allow staff release time during the school day to collaborate on implementation and program evaluation.</li>
		<li>Create a new course offering at Westside High School, Introduction to High School and Post-Secondary Transition for all incoming students with disabilities at Westside High School. This course will be instructed by a Special Education Teacher, in collaboration with the high school counseling department and general education.</li>
	</ol>
</p>