.alert a{
    color: #fff;
    border-bottom: 1px dotted #fff;
    &:hover {
        color: #fff;
        border-bottom-style: solid;
    }
}

.alert-danger {
    background-color: $alert-danger-bg !important;
    border-color: $alert-danger-border !important;
    color: $alert-danger-text !important;
}

.alert-success {
    background-color: $alert-success-bg !important;
    border-color: $alert-success-border !important;
    color: $alert-success-text !important;
}

.alert-info {
    background-color: $alert-info-bg !important;
    border-color: $alert-info-border !important;
    color: $alert-info-text !important;
}

.alert-warning {
    background-color: $alert-warning-bg !important;
    border-color: $alert-warning-border !important;
    color: $alert-warning-text !important;
}