.hero-container {    
    position: relative;
    overflow: hidden;
    img {
    	width: 100%;
    }
    .text-over-image {
	    width: 100%;
	    padding: 4vh 5%;
    	text-align: center;
    	background-color: $theme-color;
	    @media (min-width: $screen-md-min) {
	    }

	    .hero-banner-title {
		    color: #fff;		    
		    letter-spacing: 3px;
		    text-transform: uppercase;
    		font-weight: bold;
		    @media (max-width: 968px) {
		    	font-size: 1.7em;
		    }
		    @media (min-width: 969px) {
		    	font-size: 2.8em;
		    }
		}
	}
}



