#branding {    
    z-index: 2;      
    display: block;
    border-bottom: 0;
    @media (min-width: 800px) {
    	background-image: url(/sites/all/themes/gavias_mdeal_theme_7.3x/gavias_mdeal/images/ne-branding-bg.gif);
	    background-repeat: repeat-x;
	    background-position: bottom;
    }
}