.btn {
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.7em 1.333em;
    letter-spacing: 0.4px;
    white-space: normal;
    line-height: 1.2;
    margin-right: 1em;
}

.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .btn-primary.dropdown-toggle {
  background-color: darken($brand-primary, 10%);
}