.contact {
    background-color: #eee;
    padding: 1em 2em 2em;
	[class*=icon-] {
        position: relative;
        padding-left: 1.9em;
        background-size: 17px;
        background-position: left top;
    }
    p+p {
	    margin-top: 1em;
	}
}