// View page
.session-title {
	margin-bottom: 1em;

	a {
	    border-bottom: 0;
	    font-weight: 700;
	    font-size: 1.1em;
	}
}

.page-conference {

	.views-row-even {
		background-color: $gray-lighter;
	}

	.panel-title {
		font-weight: 400;
		font-size: 1em;
	}

}

// Session Page
.node-type-session {
	#page-title {
	    text-transform: capitalize;
	    font-size: 1.5em;
	    font-weight: 400;
	}

	.field-type-taxonomy-term-reference {
	    float: none;
	    .field-items .field-item {
		    float: none;
		}
	}
	.field-collection-container {
	    /* border-bottom: 0; */

	    .field-items .field-item {
			margin-bottom: 0;
		}
	}

	.field-collection-view {

	    .field-label {
		    width: auto;
		}
	}

	.field-name-field-speaker {
	    border-top: 1px solid #D3D7D9;
	    padding-top: 10px;
	    margin: 10px 0;
	}

	.field-name-body {
	    margin-top: 3em;
	}
}