body{
  font-family: $font-family-base !important;
  font-size: $font-size-base;
}

// Typography
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-sans-serif !important;
}

h1, .h1 {
    color: $theme-color !important;
    letter-spacing: 1px;
}

h2, 
h3, 
h4, 
h5, 
h6, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    text-transform: inherit;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.container {
	    width: 100% !important;
	}
}

#content {
    padding-bottom: 2em;
}

.not-front #content {
    padding-top: 2em;
    padding-bottom: 4em;
}

.front #content {
    background-color: $gray-lighter;
}

.not-front .after_content {
    margin-top: 50px;
}

#drupal_tabs {
    margin-bottom: 50px;
}

// Main content region
#page-main-content {
    margin-top: 2em;
}

// Links region
.links {
    margin-top: 2em;
}

// Links
a {
    border-bottom: 1px dotted #333c4e;
    line-height: 1.6;
}

a:hover, 
a:focus {
    color: $brand-primary;
    border-bottom: 1px solid $brand-primary;
}

.system-message .alert {
    margin-bottom: 0;
    text-align: center;
}



// breadcrumb
.breadcrumb {
    font-size: 13px;
}

.breadcrumb-wrap {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

#header a, 
.breadcrumb-wrap a {
    border-bottom: none;
}

.content-main {
    ul > li,
    ol > li {
        margin: 1em 0;
    }
}

p:last-child {
    margin-bottom: 1em;
}

p + p {
    margin-top: 1em;
}

.lead {
    font-weight: 400 !important;
}

// Panels
.panel-group {
    margin-bottom: 10px !important;
}

// Views Filter
.view-filters {
    background-color: $gray-lighter;
    padding: 2em;
    margin-bottom: 3em;
    select {
        width: 100%;
    }
    .views-submit-button {
        padding-top: 33px;
    }
    .form-submit {
        margin-top: 0 !important;
    }
}

.page-node-168 {
    .description {
        display: none;
    }
}

.bg-blue {
    background-color: $brand-primary;
    color: #fff;
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #fff;
    }
    .btn-primary {
        border-color: #fff !important;
        margin-top: 2em;
        padding: 10px;
    }
}