dl {
	padding: 2em 4em 0 4em;
}

dd {
    &:nth-last-child(n+2) {
		margin-bottom: 1em;
	}
}

// Views Attachment
.page-node-167 {
	.attachment-before {
		.view-transition-glossary {
			.view-content {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 5em;
				.views-summary-unformatted {
					a {
						width: 3em;
					    padding: 0.5em 1em;
					    background-color: $brand-primary;
					    color: #fff;
					    display: flex;
					    flex-flow: row wrap;
					    justify-content: center;
					    border-right: 1px solid #fff;
					    border-top: 1px solid rgba(0,0,0,0);
					    border-left: 1px solid rgba(0,0,0,0);
					    border-bottom: 1px solid #fff;
					    &:hover,
					    &:focus,
					    &:active,
					    &.active {
					    	background-color: $gold;
					    	color: $brand-primary;
    						border: 1px solid $gold;
    						font-weight: bold;
					    }

					}
					
				}
			}
		}
	}
}

dt.transition-term {
    font-size: 1.2em;
}

dd.transition-def {
	&:nth-last-child(n+2) {
		margin-bottom:2em;
	}
}