.footer {
    .btn-primary {
      color: #252525;
      background-color: #fff !important;
      border-color: #fff !important;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: darken( #fff, 20%) !important;
      border-color: darken( #fff, 20%) !important;
    }
    .contact-person {
        font-size: 1.25em;
        line-height: 1.3;
    }
    ul {
        list-style-type: none;
    }
    a[class*=icon-] {
        display: block;
        border-bottom: 0;
        &:hover {
            border-bottom: 0 !important;
        }
    }   
}

.footer-center {
    p {
        margin-bottom:1em;
    }
    .position-title {
        text-transform: uppercase;
        font-size: 0.7em;
        font-style: italic;
        letter-spacing: 0.05em;
    }    
}

.footer-bottom {
    .icon-ndelogo {
        width: 175px;
        height: 49px;
    }
}

.footer-bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-flow: row wrap;
}

.footer-bottom-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-bottom-section__left {
    width: 100%;
    text-align: center;
    @media (min-width: $screen-sm-min){
        width: 70%;
        text-align: left;
    }
}

.footer-bottom-section__right {
    width: 100%;
    @media (min-width: $screen-sm-min){
        width: 30%;
    }
}

// After Footer Area
.after-footer__inner-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    .icon-logo-gray {        
        width: 100%;
        height: 54px;
        @media screen and (min-width: $screen-sm-min){
            width: 326px;
            height: 100px;
        }
    }
    ul {
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
        @media screen and (min-width: $screen-sm-min){
            text-align: left;
        }
    }
}

.after-footer-section__left {
    width: 100%;
    margin-bottom: 2em;
    @media screen and (min-width: $screen-sm-min){
        width: auto;
        margin-bottom: 0;
        padding-right: 100px;
    }
}

.after-footer-section__right {
    width: 100%;
    @media screen and (min-width: $screen-sm-min){
        width: auto;
    }
}