// Grant Intro and Application
.grant-intro-app-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.grant-intro {
    width: 100%;
    @media (min-width: $screen-sm-min) {
    	width: 61%;
    }
}

.grant-app {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: $brand-primary;
    border: 1px solid $brand-primary;
    @media (min-width: $screen-sm-min) {
    	width: 36%;
    }
}

.grant-app_title {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 1em;
}

// Regional Map
#regional-map {
    background-color: $gray-lighter;
    padding-top: 3em;
    padding-bottom: 5em;
    img {
	    padding: 3em;
	}
}

//Grant listing block
#block-views-grants-block-regional,
#block-views-grants-block-innovative {
    padding-top: 3em;
    padding-bottom: 5em;
}

.grant__year h3 {
    background-color: $gray-lighter;
    margin: 0;
    padding: 0.5em;
}

.grant__item {
    border-bottom: 1px solid #bbb;
    padding: 15px 45px 15px 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    &:hover, 
    &:focus {
	    background-color: #E1F6F4;
	    border-bottom: 1px solid #bbb;
	}
}

.grants {
    padding-top: 2em;
    padding-bottom: 2em;
}

// Individual grant page title
.node-type-innovative-grants,
.node-type-regional-grants {
	#page-title h1 {
	    display: none;
	}
	h1 {
		clear: both;
		&:after {
			content: "";
		    display: block;
		    width: 100%;
		    border: 1px solid $brand-primary;
		}
	}
}

.field-name-field-grant-year {
    background-color: $brand-primary;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    color: #fff;
    border-radius: 5px;
}

.views-field-label {
    font-weight: bold;
    text-transform: uppercase;
}

.view-fields-container {
    padding-bottom: 2em;
}

// Individual innovative grant page