.header-main-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-main-inner-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    .icon-search, 
    .icon-close {
        width: 25px;
        height: 25px;
        background-size: 25px;
        padding: 25px;
        cursor: pointer;        
    }
}

.icon-logo {
	width: 150px;
    height: 50px;    
    //width: 200px;
    //height: 105px;
    background-position: center center;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    &:hover,
    &:focus {
        border-bottom: 0;
    }

    @media screen and (max-width: 600px) {
        width: 9.5em;
        height: 6em;
    }
}

// Main Menu Region
.region-main-menu {
    position: relative;
    // for shopping cart
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    float: none;
}


// Search region
.search-region {
    height: 54px;
    margin: 0;
    padding: 0 5px;
    top: 82px;
    right: -10px;
    left: auto;
    width: 305px;
    border: none;
    box-shadow: none;
    visibility: hidden;
    z-index: 201;
    @media(max-width: $screen-sm-max){
        top: 54px;
    }
    .btn {
        transition: none;
    }

}

.search-open {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }

#block-search-form {
	margin-bottom: 0;

	#search-block-form {
        &:before {
            content: '';
            position: absolute;
            top: -6px;
            right: 1.157em;
            width: 0;
            height: 0;
            border-left: 6px solid rgba(0, 0, 0, 0);
            border-right: 6px solid rgba(0, 0, 0, 0);
            border-bottom: 6px solid #333332;
        }
		.form-submit {
		  	background: url("/sites/all/themes/gavias_mdeal_theme_7.3x/gavias_mdeal/images/search-clean.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		  	background: url("/sites/all/themes/gavias_mdeal_theme_7.3x/gavias_mdeal/images/search-clean.svg") no-repeat scroll center center, linear-gradient(transparent, transparent);
		    background-size: contain;
    		height: 54px;
    		width: 25px;
    		margin: 0;
    		top: 0;
            right: 13px;
            &:hover, 
            &:focus, 
            &:active {
                background-color: rgba(0, 0, 0, 0) !important;
            }
		}
        
        &:hover input[name*="search_block_form"] {
            width: 100%;
            border: 1px solid #333;
        }

        input.form-text {
            background-color: $brand-primary;
            color: #fff;
            height: 54px;
            width: 100%;
            transition: none;
            &:focus {
                border: 1px solid darken($brand-primary, 20%);
                width: 100%;
            }
        }
            
	}

	.form-item {
	    margin: 0;
	}
}

