.iep-step-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.iep-step {
    //padding: 1em 2em;
    margin: 2em 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: $gray-lighter;
    /*@media (min-width:$screen-sm-min) {
		width: 48%;
	}*/
    &:nth-child(1) {
	    .iep-step__header {
	    	h2 {
	    		&:before {
				    content: "1";
	    		}
	    	}
	    }
	}
	&:nth-child(2) {
	    .iep-step__header {
	    	h2 {
	    		&:before {
				    content: "2";
	    		}
	    	}
	    }
	}
	&:nth-child(3) {
	    .iep-step__header {
	    	h2 {
	    		&:before {
				    content: "3";
	    		}
	    	}
	    }
	}
	&:nth-child(4) {
	    .iep-step__header {
	    	h2 {
	    		&:before {
				    content: "4";
	    		}
	    	}
	    }
	}
}

.iep-step__header {
    width: 100%;
    padding: 1em 2em;
    background-color: $brand-primary;
	h2 {
		color: #fff;
    	position: relative;
    	padding-left: 2em;
    	margin-top: 11px;
		&:before {
			border-radius: 100%;
		    border: 1px solid;
		    text-align: center;
		    width: 1.3em;				    
		    position: absolute;
		    left: 0;
		    font-size: 1.3em;
    		top: -5px;
		}
	}
	/*@media (min-width:$screen-xs-min) and (max-width: 699px) {
		width: 50%;
	}
	@media (min-width:700px) and (max-width: $screen-sm-max) {
		width: 40%;
	}
	@media (min-width:$screen-md-min) {
		width: 30%;
	}*/
}

.iep-step__body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //padding: 1.5em 2em;
    /*@media (min-width:$screen-xs-min) and (max-width: 699px) {
		width: 50%;
	}
    @media (min-width:700px) and (max-width: $screen-sm-max) {
		width: 60%;
	}
    @media (min-width:$screen-md-min) {
		width: 70%;
	}*/
}

.iep-step__body__description,
.iep-step__body__resource {
    padding: 1.5em 2em;
    display: inline-block;
} 

.iep-step__body__description {
    //background-color: #f0f8ff;
    background-color: lighten($gray-lighter, 4%);
    width: 100%;
    @media (min-width:$screen-sm-min) {
		width: 60%;
	}
}

.iep-step__body__resource {
    width: 100%;
    @media (min-width:$screen-sm-min) {
		width: 40%;
	}
}

/*.iep-step {
    position: relative;
    margin-bottom: 25%;
}

.iep-step:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #0079C6;
    transform-origin: right bottom;
    transform: rotate(0deg) skewX(12deg);
    padding-bottom: 20%;
}*/



