.intro-text {
	@media (min-width: $screen-xs-min) {
    	margin: 0 4em;
    }    
    @media (min-width: $screen-sm-min) {
    	margin: 0 3em;
    }
    @media (min-width: $screen-md-min) {
    	margin: 0 14em;
    }
    p {
	    font-size: 1.3em;
	    text-align: center;
	    @media (min-width: $screen-sm-min) {
	    	font-size: 1.5em;
	    }
	    @media (min-width: $screen-md-min) {
	    	font-size: 2em;
	    }
	}
}

.node-type-landing-page {
	h1 {
		font-size: 0;
		width: 1px;
		height: 1px;
		display: inline-block;
		overflow: hidden;
		position: absolute!important;
		border: 0!important;
		padding: 0!important;
		margin: 0!important;
		clip: rect(1px,1px,1px,1px);
	}
}