#block-views-library-items-block-library {
	.view-filters {
	    margin-bottom: 0;
	}
	.view-content {
	    border-top: 10px solid $gray-lighter;
	}
	section {
		&:nth-child(odd) {
			background-color: $gray-lightest;
		}
	}
	#edit-submit--2 {
	    margin-top: 0;
	}
}

.library-list-category {    
    padding: 6em 0;
    margin: 0;
}

// Category Title
.library-list-category__title {
	h3 {
	    text-transform: uppercase;
	    letter-spacing: .5px;
	    font-weight: 400;
	    margin-bottom: 2em;
	    position: relative;
	    padding-bottom: 1em;
	    margin: 0 0.6em 2em;
	    &:after {
		    bottom: 0;
		    content: '';
		    height: 2px;
		    left: 0;
		    position: absolute;
		    width: 3em;
		    background-color: $gold;
		}
	}	
}

// Category Items
.library-list-category__items {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.card--library-item {
    //padding: 0 1.5em;
    //width: 15.7%;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    @media screen and (max-width: 500px) {
		width: 50%;
    }
    @media screen and (max-width: 300px) {
		width: 100%;
    }
}

.card__inner {
    position: relative;
    padding-bottom: 3em;
    margin-bottom: 3em;
    min-height: 20em;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 100%;

    &:hover {
	    box-shadow: 0 5px 10px rgba(0,0,0,.15);
	}

    img {
	    width: 100%;
	    border-radius: 5px 5px 0 0;
	    border-bottom: 2px solid #777;
	}

	.commerce-add-to-cart {
	    position: absolute;
	    bottom: 0;
	    width: 100%;

	    .form-submit {
		    width: 100% !important;
		    border-radius: 0 0 5px 5px;
		    background-color: #777;
		    border-color: #777;

		    &:hover,
		    &:visited {
		    	background-color: darken($brand-primary, 10%);
		    }
		}
	}
}

.card__library-title {
    font-size: 1em;
    font-weight: 400;
    padding: 0 1em;
    a {
	    border-bottom: 0;
	    &:hover {
	    	text-decoration: underline;
	    }
	}
}