.page-node-200 {
	h1 {
		font-size: 0;
		width: 1px;
		height: 1px;
		display: inline-block;
		overflow: hidden;
		position: absolute!important;
		border: 0!important;
		padding: 0!important;
		margin: 0!important;
		clip: rect(1px,1px,1px,1px);
	}
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#ne-transition-guide,
#ne-transition-guide-order {
    padding-top: 4em;
    padding-bottom: 4em;
    h2 {
	    margin-top: 0;
	}
}

#ne-transition-guide {
	img {
		margin-top: 4em;
		@media (min-width: $screen-md-min) {
			margin-top: 0;
		}
	}
}


#ne-transition-guide-order {
	h2 {
		text-align: center;
	}
}

.ntg-download-button {
    margin-top: 3em;
    a {
	    display: inline-block;
	    &:last-child {
		    font-size: 0.9em;
		    margin: 5px 12px;
		}
	}
}

.ntg-order-button {
    text-align: center;
}