// Front page block

#block-views-news-block-front {
	background-color: rgba(0,0,0,0);
    background-image: url(/sites/all/themes/gavias_mdeal_theme_7.3x/gavias_mdeal/images/bbschool.jpg);
    background-position: right 10%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px solid $brand-primary;
	h2 {
	    color: #fff;
	    background-color: $brand-primary;
	    display: inline-block;
	    padding: 0.8em 1.2em;
	    margin: 0 0 2.618em;
	}
}

#front-news-container {
	width: 100%;
	height: 100%;
	padding-bottom: 4em;
	@media (min-width:600px) {
		width: 50%;
	}
}

.news-item {
	padding: 14px;
    height: 100%;
    display: block;
    border-bottom: 0;
    margin-bottom: 1em;
    
}

.news-item__block {
	background-color: #fff;
    border: 1px solid $brand-primary;
    &:hover {
	    background-color: $gray-lighter;
	}
}

.news-item__page {
	background-color: $gray-lighter;
    border: 1px solid $gray-lighter;
    &:hover {
	    border-color: $brand-primary;
	}
}

.news-item__pub-date {
    text-transform: uppercase;
    font-size: 0.8em;
}

// Individual news page
.node-type-news {
	#page-title h1 {
	    display: none;
	}
	#page-main-content {
		article {
			.content {
				margin-top: 4em;
			}
		}
	}	
}

.news__file-attachment-button {
    margin: 2em 0;
}

.news__content-image {
	margin-top: 3em;
	
	img {
	    border: 1px solid;
	}
}