.front-button-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.button-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

a.button-flex-card {
    display: inline-block;
    width: 100%;
    margin: 12px;
    position: relative;
    background-color: #333;
    color: #fff;
    border-bottom: 0;
    min-height: 10em;
    @media (min-width: 480px) and (max-width: 991px) {    	
   		width: 41%;
    }
    @media screen and (min-width: $screen-sm-min) {
    	width: 21%;
    }
    &:before {
    	content: '';
	    position: absolute;
	    border: #fff solid 4px;
	    top: 4px;
	    left: 4px;
	    right: 4px;
	    bottom: 4px;
	    opacity: 0;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 0.3s;
	    -webkit-transition-property: opacity;
	    transition-property: opacity;
	    z-index: 2;
    }
    &:hover:before, 
    &:focus:before, 
    &:active:before {
	    opacity: 1;
	}
	img {
		width: 100%;
	}
    h2 {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;	    
	    color: #fff;	    
	    font-size: 1.5em;	    
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 1em;
	    background: rgba(39,62,84,0.6);
	    height: 100%;
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}

// Front page buttons
.view-id-page_buttons,
.view-display-id-block_front{
    margin-bottom: 30px;
}

.front-button__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.front-button__card {
	display: inline-block;
	width: 100%;
    //margin: 12px;
    position: relative;
    background-color: #fff;
    color: $text-color;
    border: 1px solid rgba(0,0,0,0);
    margin-top: 3em;
    &:hover {
	    border-color: $brand-primary;
	    h2 {
	    	color: $brand-primary;
	    }
	}
	@media (min-width: 480px) and (max-width: 991px) {
    	width: 43%;
    }
    @media screen and (min-width: $screen-md-min) {
    	width: 21%;
    }
}

.button__header {
	img {
		width: 100%;
	}
}

.button__text {
	padding: 20px;
	h2 {
	    text-align: center;
	    color: $text-color;
	    font-size: 24px;
	    width: 100%;
	    margin-top: 0;
	}
	p {
	    font-size: 16px;
	    text-align: center;
	}
} 