#accordion {
	.panel.panel-default {
	    margin-bottom: 2em;
	}
}

.panel-default .panel-heading {
	position: relative;
	padding-right: 5em;
	cursor: pointer;
	&:after {
		content: "";
	    position: absolute;
	    top: 50%;
	    right: 1em;
	    background-size: contain;
	    height: 17px;
	    width: 17px;
	    transform: translateY(-50%);
	}
	//&.collapsed {
	//    background-color: $brand-primary;
	//    color: #fff;
	//}
	&:hover,
	&:focus {
		background-color: $bg-teal-dark;
		color: $brand-primary;
		h2 {
			color: $brand-primary;
		}
	}
}

.panel-default > .panel-heading {
    background-color: $bg-teal;
    color: $brand-primary;
}

.tg-section__body__section, 
.tg-section__body__section h3, 
.tg-section__body__section a {
    color: $brand-primary;
}

.panel {
	border-radius: 2px;
    /* border: 0 !important; */
} 

.panel-collapse {
    background-color: $bg-teal;
}
