.node-type-product-page {
	#page-main-content {
		margin-top: 0;
	}

	.group-header.col-xs-12 {
	    float: none;
	    height: 24px;
	    margin-bottom: 1em;
	}

	.group-left,
	.group-right {
	    margin-top: 2em;
	}

	.field-name-field-description {
	    margin-bottom: 2em;
	}
	
	.field-name-field-author,
	.field-name-field-publisher,
	.field-name-field-year,
	.field-name-field-grade-level-curriculum,
	.field-name-field-replacement-cost,
	.field-name-commerce-stock {
	    margin-bottom: 0.5em;
	}
}


// Tags
.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
	    display: inline-block;
	    margin: 0;
	    background-color: $gray-lighter;
	    padding: 0.1em 0.7em;
	    border-radius: 3px;
	    font-size: 0.9em;
	    color: $gray;
	    text-transform: uppercase;
    	letter-spacing: 0.5px;

	    .node-product-page & {
	    	margin: 0;
	    }
	}
}

// Return to Library Catalog block
.btn-library__wrapper {
    margin-top: 4em;
}

.btn-library {
    display: inline-block;
    margin-top: 1em;
    border-bottom: 0;

    &:before {
	    content: "";
	    display: inline-block;
	    width: 1em;
	    height: 1em;
	    background-position: center;
	    background-size: 1em;
	    margin-right: 0.4em;
	    position: relative;
	    top: 0.2em;
	}
}