.qa-wrapper {
    margin-bottom: 3em;
    background-color: $gray-lighter;
    padding: 1em 2em;
    @media (min-width: $screen-md-min) {
    	width: 70%;
    }    
}

.qa-question h2 {
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px;
}