.reports {
    margin-bottom: 5em;
    &:first-child {
    	margin-top: 5em;
    }
}

.reports__year {
	h2 {
	    background-color: $gray-lighter;
	    margin: 0;
	    padding: 0.5em;
	}
}

.reports__item {
    border-bottom: 1px solid darken($gray-lighter, 20%);
    padding: 15px 45px 15px 45px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:hover,
    &:focus {
    	background-color: #E1F6F4;
    	border-bottom: 1px solid darken($gray-lighter, 20%);
    	.icon-download-dark {
		    transform: scale(1.5);
		    transition: all .4s ease-in-out;
		}
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        background-size: contain;
        height: 25px;
        width: 25px;
        transform: translateY(-50%);
    }
}