.activity-glossary-item__link {
    margin-top: 62px;
}

.activity-glossary-item__link-label {
    font-weight: 700;
    font-size: 1.5em;
}

.view-id-resources_individual_pages {
	a {
		margin-top: 26px;
	}
}