// Agencies
.view-agencies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .attachment {
        order: 1;
        width: 100%;
        @media screen and (min-width: $screen-sm-min){
            order: 2;
            width: 30%;
        }
        .view-content {
            width: 100%;
        }
    }
    &>.view-content {
        order: 2;
        width: 100%;
        @media screen and (min-width: $screen-sm-min){
            order: 1;
            width: 61%;
        }
    }
}

a.resource-item {
	background-color: $gray-lightest;
	margin-bottom: 1em;
    display: block;
    border-bottom: none;
    padding: 1em;
    &:hover, 
    &:focus {
    	background-color: $bg-teal-dark;
    	border-bottom: none;
    }
}

a.resource__link {
    position: relative;
    padding-right: 100px;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        background-size: contain;
        height: 25px;
        width: 25px;
        /* -webkit-transform: translateY(-50%); */
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 999;
    }
}

span.resource-item__title,
span.resource-item__desc {
    display: block;
}

span.resource-item__title {
    font-weight: bold;
    font-size: 1.3em;
}

a.agency_guide {
    background-color: #fff;
    color: $brand-primary;
    position: relative;
    padding-left: 78px;
    margin-bottom: 47px;
    border: 1px solid;
    @media screen and (min-width: $screen-sm-min){
        padding-left: 1em;
    }
    &:before {
        content: "";
        position: absolute;
        top: 40px;
        left: 16px;
        background-size: contain;
        height: 48px;
        width: 45px;
        transform: translateY(-50%);
        @media screen and (min-width: $screen-sm-min){
            display: block;
            position: static;
            transform: translateY(0);
        }
    }
    &:hover, 
    &:focus {
        background-color: $gold;
        border: 1px solid $brand-primary;
    }
}

// Transition Guide Resources
.resource-container {
    &:nth-last-child(n+2) {
        margin-bottom: 6em;
    }
    h2 {
        background-color: $bg-teal;
        color: $text-dirty-green;
        padding: 0.5em 0;
    }
}

.tg-resource-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tg-resource-item {
    width: 100%;
    @media screen and (min-width: $screen-xs-min){
        width: 49%;
        //margin-right: 1em;
    }
    /*@media screen and (min-width: $screen-md-min){
        width: 31%;
    }
    @media screen and (min-width: $screen-lg-min){
        width: 23%;
    }*/
}

