#rule-51 {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    figure {
	    border: 1px solid #ddd;
	}
	figcaption {
	    text-align: center;
	    padding: 1em;
	    background-color: #eee;
	    font-weight: bold;
	}
	img {
		padding: 2em;
	}
	table {
		margin-top: 2em;
		@media (min-width:screen-sm-min) {
			margin-top: 0;
		}				
	}
}