// Search form in content region
#search-form {
    margin-top: 3em;
    fieldset.collapsed {
	    height: 3em;
	    margin-bottom: 3em;
	}
	fieldset.collapsed,
	fieldset.collapsible {
	    margin-bottom: 3em;
	}
}

#edit-submit--2 {
    margin-top: 2em;
}

.search-results {
    padding-left: 0;
    .search-info {
	    display: none;
	}
	.title {
	    text-transform: none;
	}
	li {
	    background-color: #eee;
	    padding: 1em;
	}
}

