#block-simplenews-1 {
    margin-bottom: 0;
    background-color: $bg-teal;
    padding: 30px;
    text-align: center;
}

#simplenews-block-form-1 {
    margin-top: 2em;
    .form-item.form-type-textfield.form-item-mail {
    	@media (min-width: 388px) {
    		display: inline-block;
    	}
        input {
            @media (min-width: 388px) {
                width: auto;
            }
        }   
	}
    
}

#edit-submit--3 {
    margin-top: 2em;
    @media (min-width: 388px) {
    	margin-top: 0;
    	display: inline-block;
    }
}