// Shopping cart button
#block-commerce-popup-cart-commerce-popup-cart {
    float: none;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    h2 {
        font-size: 0;
        width: 1px;
        height: 1px;
        display: inline-block;
        overflow: hidden;
        position: absolute!important;
        border: 0!important;
        padding: 0!important;
        margin: 0!important;
        clip: rect(1px,1px,1px,1px);
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin: 0.7em 0;
        padding: 1em;
    }

    table {
        font-size: 1em;
        letter-spacing: 0;
    }
}

.cart-icon {
    width: 2em;
    height: 2em;
    background-size: contain;
    order: 2;
}

.cart_popup_count {
    float: none;
    font-size: 0.9em;
    line-height: .05;
    margin-top: 5px;
    margin-left: 5px;
    color: $brand-primary;
    font-weight: 700;
}

// Cart popup
#cart-popup {
    right: -4em;
    top: 6em;
    width: 17em;
    background-image: none;

    .view-commerce-cart-block ul.links li.line-item-summary-view-cart {
        font-size: 1em;
        text-transform: capitalize;

        a {
            border-bottom: 1px dotted;
            &:hover {
                border-bottom-style: solid;
            }
        }
    }
    .line-item-summary-checkout a {
        font-weight: 600;
        background-color: $brand-primary;
        background-image: none;
        border: 0;
        border-radius: 2px;
        &:hover,
        &:focus {
            color: #fff;
            background-color: darken($brand-primary, 10%);
        }
    }
}

.popup-arrow {
    right: 5.7em;
}

// Cart page
.page-cart {
    table {
        margin-top: 0;
    }

    table > thead > tr > th, 
    table > thead > tr > td, 
    table > tbody > tr > th, 
    table > tbody > tr > td, 
    table > tfoot > tr > th, 
    table > tfoot > tr > td, 
    .table > thead > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > th, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > th, 
    .table > tfoot > tr > td {
        vertical-align: middle;
    }
}

.commerce-line-item-actions {
    input + input {
        margin-left: 1em;
    }
}

// Checkout
.checkout_review {
    .pane-title td {
        background-color: #ddd;
    }
}
