table {
    margin: 4em 0;
	th {
	    border-top: 1px solid $gray-dark;
	    background-color: $gray-dark;
	    letter-spacing: .02em;
	    font-weight: 400;
	    font-style: normal;
	    text-transform: uppercase;
	    color: #fff;
    	font-size: 0.9em;
	}

	//tbody tr:nth-of-type(even) {
	//    background-color: #f9f8f5;
	//}
}

table > tbody > tr > th, 
table > tbody > tr > td, 
table > tfoot > tr > th, 
table > tfoot > tr > td {
    border-color: #ddd;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    background-color: #fff;
}

tfoot {
    font-weight: bold;
    border-top: 2px solid #999;
}

thead > tr > th > a {
    color: #fff;
    border-bottom-color: #fff;
    &:hover,
    &:focus {
    	color: rgba(255,255,255,0.9);
    	border-bottom-color: rgba(255,255,255,0.9);
    }
}
