.tg__wrapper {
    .views-row {
	    margin-bottom: 15px;
	}
}

.tg-section__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > div:nth-last-child(n+2) {
    	@media screen and (min-width: $screen-md-min) {
    		border-right: 1px solid $gray-lighter;
    	}
    }
    ul {
	    padding-left: 28px;
	}
}

.tg-section__body__section {
    width: 100%;
    //background-color: $gray-lighter;
    padding: 1em;
    @media screen and (min-width: $screen-md-min) {
    	width: 33%;
    	padding: 1em 2em;
    }

}