.panel-heading.collapsed:after,
.icon-arrow-down-bright { background-image: url('png/arrow-down-bright.png'); background-repeat: no-repeat; }

.icon-arrow-down-clean { background-image: url('png/arrow-down-clean.png'); background-repeat: no-repeat; }

.iep-step:nth-last-child(n+2):after,
.icon-arrow-down-dark { background-image: url('png/arrow-down-dark.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-left-bright { background-image: url('png/arrow-left-bright.png'); background-repeat: no-repeat; }

.icon-arrow-left-clean { background-image: url('png/arrow-left-clean.png'); background-repeat: no-repeat; }

.icon-arrow-left-dark { background-image: url('png/arrow-left-dark.png'); background-repeat: no-repeat; }

.btn-library:before,
.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.resource__link:after,
.icon-arrow-right-bright { background-image: url('png/arrow-right-bright.png'); background-repeat: no-repeat; }

.icon-arrow-right-clean { background-image: url('png/arrow-right-clean.png'); background-repeat: no-repeat; }

.icon-arrow-right-dark { background-image: url('png/arrow-right-dark.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.panel-heading:after,
.icon-arrow-up-bright { background-image: url('png/arrow-up-bright.png'); background-repeat: no-repeat; }

.icon-arrow-up-clean { background-image: url('png/arrow-up-clean.png'); background-repeat: no-repeat; }

.icon-arrow-up-dark { background-image: url('png/arrow-up-dark.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-calendar-graduation-bright { background-image: url('png/calendar-graduation-bright.png'); background-repeat: no-repeat; }

.icon-calendar-graduation-clean { background-image: url('png/calendar-graduation-clean.png'); background-repeat: no-repeat; }

.icon-calendar-graduation-dark { background-image: url('png/calendar-graduation-dark.png'); background-repeat: no-repeat; }

.icon-calendar-graduation { background-image: url('png/calendar-graduation.png'); background-repeat: no-repeat; }

.icon-checklist-bright { background-image: url('png/checklist-bright.png'); background-repeat: no-repeat; }

.icon-checklist-clean { background-image: url('png/checklist-clean.png'); background-repeat: no-repeat; }

.icon-checklist-dark { background-image: url('png/checklist-dark.png'); background-repeat: no-repeat; }

.icon-checklist { background-image: url('png/checklist.png'); background-repeat: no-repeat; }

.icon-close-bright { background-image: url('png/close-bright.png'); background-repeat: no-repeat; }

.icon-close-clean { background-image: url('png/close-clean.png'); background-repeat: no-repeat; }

.icon-close-dark { background-image: url('png/close-dark.png'); background-repeat: no-repeat; }

.icon-search:focus,
.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-download-bright { background-image: url('png/download-bright.png'); background-repeat: no-repeat; }

.icon-download-clean { background-image: url('png/download-clean.png'); background-repeat: no-repeat; }

.reports__item:after,
.icon-download-dark { background-image: url('png/download-dark.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

.icon-email-filled-bright { background-image: url('png/email-filled-bright.png'); background-repeat: no-repeat; }

.icon-email-filled-clean { background-image: url('png/email-filled-clean.png'); background-repeat: no-repeat; }

.icon-email-filled-dark { background-image: url('png/email-filled-dark.png'); background-repeat: no-repeat; }

.icon-email-filled { background-image: url('png/email-filled.png'); background-repeat: no-repeat; }

.icon-email-filled.svg,.colors-bright-dark { background-image: url('png/email-filled.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-email-filled.svg,.colors-bright { background-image: url('png/email-filled.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-email-lined-bright { background-image: url('png/email-lined-bright.png'); background-repeat: no-repeat; }

.icon-email-lined-clean { background-image: url('png/email-lined-clean.png'); background-repeat: no-repeat; }

.icon-email-lined-dark { background-image: url('png/email-lined-dark.png'); background-repeat: no-repeat; }

.icon-email-lined { background-image: url('png/email-lined.png'); background-repeat: no-repeat; }

.icon-email-lined.svg,.colors-bright-dark { background-image: url('png/email-lined.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-email-lined.svg,.colors-bright { background-image: url('png/email-lined.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-file-pdf-bright { background-image: url('png/file-pdf-bright.png'); background-repeat: no-repeat; }

.icon-file-pdf-clean { background-image: url('png/file-pdf-clean.png'); background-repeat: no-repeat; }

a[href$='.pdf']:before,
.icon-file-pdf-dark { background-image: url('png/file-pdf-dark.png'); background-repeat: no-repeat; }

.icon-file-pdf { background-image: url('png/file-pdf.png'); background-repeat: no-repeat; }

.icon-heart-care-bright { background-image: url('png/heart-care-bright.png'); background-repeat: no-repeat; }

.icon-heart-care-clean { background-image: url('png/heart-care-clean.png'); background-repeat: no-repeat; }

.icon-heart-care-dark { background-image: url('png/heart-care-dark.png'); background-repeat: no-repeat; }

.icon-heart-care { background-image: url('png/heart-care.png'); background-repeat: no-repeat; }

.icon-infomation-circle-bright { background-image: url('png/infomation-circle-bright.png'); background-repeat: no-repeat; }

.icon-infomation-circle-clean { background-image: url('png/infomation-circle-clean.png'); background-repeat: no-repeat; }

.icon-infomation-circle-dark { background-image: url('png/infomation-circle-dark.png'); background-repeat: no-repeat; }

.agency_guide:before,
.icon-infomation-circle { background-image: url('png/infomation-circle.png'); background-repeat: no-repeat; }

.icon-location-filled-bright { background-image: url('png/location-filled-bright.png'); background-repeat: no-repeat; }

.icon-location-filled-clean { background-image: url('png/location-filled-clean.png'); background-repeat: no-repeat; }

.icon-location-filled-dark { background-image: url('png/location-filled-dark.png'); background-repeat: no-repeat; }

.icon-location-filled { background-image: url('png/location-filled.png'); background-repeat: no-repeat; }

.icon-location-filled.svg,.colors-bright-dark { background-image: url('png/location-filled.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-location-filled.svg,.colors-bright { background-image: url('png/location-filled.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-logo-bright { background-image: url('png/logo-bright.png'); background-repeat: no-repeat; }

.icon-logo-clean { background-image: url('png/logo-clean.png'); background-repeat: no-repeat; }

.icon-logo-dark { background-image: url('png/logo-dark.png'); background-repeat: no-repeat; }

.icon-logo-gray-bright { background-image: url('png/logo-gray-bright.png'); background-repeat: no-repeat; }

.icon-logo-gray-clean { background-image: url('png/logo-gray-clean.png'); background-repeat: no-repeat; }

.icon-logo-gray-dark { background-image: url('png/logo-gray-dark.png'); background-repeat: no-repeat; }

.icon-logo-gray { background-image: url('png/logo-gray.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-logo.svg,.colors-bright-dark { background-image: url('png/logo.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-logo.svg,.colors-bright { background-image: url('png/logo.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-ndelogo-bright { background-image: url('png/ndelogo-bright.png'); background-repeat: no-repeat; }

.icon-ndelogo-clean { background-image: url('png/ndelogo-clean.png'); background-repeat: no-repeat; }

.icon-ndelogo-dark { background-image: url('png/ndelogo-dark.png'); background-repeat: no-repeat; }

.icon-ndelogo { background-image: url('png/ndelogo.png'); background-repeat: no-repeat; }

.icon-ndelogo.svg,.colors-bright-dark { background-image: url('png/ndelogo.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-ndelogo.svg,.colors-bright { background-image: url('png/ndelogo.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-notepad-checklist-bright { background-image: url('png/notepad-checklist-bright.png'); background-repeat: no-repeat; }

.icon-notepad-checklist-clean { background-image: url('png/notepad-checklist-clean.png'); background-repeat: no-repeat; }

.icon-notepad-checklist-dark { background-image: url('png/notepad-checklist-dark.png'); background-repeat: no-repeat; }

.icon-notepad-checklist { background-image: url('png/notepad-checklist.png'); background-repeat: no-repeat; }

.icon-person-bright { background-image: url('png/person-bright.png'); background-repeat: no-repeat; }

.icon-person-clean { background-image: url('png/person-clean.png'); background-repeat: no-repeat; }

.icon-person-dark { background-image: url('png/person-dark.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon-phone-bright { background-image: url('png/phone-bright.png'); background-repeat: no-repeat; }

.icon-phone-clean { background-image: url('png/phone-clean.png'); background-repeat: no-repeat; }

.icon-phone-dark { background-image: url('png/phone-dark.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-phone.svg,.colors-bright-dark { background-image: url('png/phone.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-phone.svg,.colors-bright { background-image: url('png/phone.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-search-bright { background-image: url('png/search-bright.png'); background-repeat: no-repeat; }

.icon-search-clean { background-image: url('png/search-clean.png'); background-repeat: no-repeat; }

.icon-search-dark { background-image: url('png/search-dark.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-search.svg,.colors-bright-dark { background-image: url('png/search.svg,.colors-bright-dark.png'); background-repeat: no-repeat; }

.icon-search.svg,.colors-bright { background-image: url('png/search.svg,.colors-bright.png'); background-repeat: no-repeat; }

.icon-target-arrow-bright { background-image: url('png/target-arrow-bright.png'); background-repeat: no-repeat; }

.icon-target-arrow-clean { background-image: url('png/target-arrow-clean.png'); background-repeat: no-repeat; }

.icon-target-arrow-dark { background-image: url('png/target-arrow-dark.png'); background-repeat: no-repeat; }

.icon-target-arrow { background-image: url('png/target-arrow.png'); background-repeat: no-repeat; }

